# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore compiled files
*.pyd
*.dll
*.lib

# Ignore model and large files
*.h5
*.mp4
*.caffemodel
*.pt
*.onnx

# Ignore application-specific files

images/